<h1>
  Vehicles 
</h1>
<div class="row top25">
  <div class="col-xs-2">
    <button class="btn btn-primary" ng-click="openForm()">Add new&nbsp;&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
  </div>
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-4">
        <ui-select id="selectedCompany" name="selectedCompany" 
                  ng-model="viewModel.selectedCompany"
                  on-select="onCompanyChange($item, $model)" >
          <ui-select-match placeholder="Select a company">
            {{$select.selected.code}}
          </ui-select-match>
          <ui-select-choices repeat="row in (viewModel.allCompanies | filter: {code: $select.search})">
            <div class="normal" style="width:20%;"ng-bind-html="row.code | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-xs-8">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." ng-model="viewModel.search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2 ng-if="viewModel.selectedCompany && !viewModel.allData.length">
      Data hasn't been added. Please add the first record.
    </h2>
    <h2 ng-if="!viewModel.selectedCompany">
      Please select a company to begin. 
    </h2>
  </div>
</div>
<div class="row top25" ng-show="viewModel.showForm">
  <div class="col-md-6 col-md-offset-3">
    <form name="form" ng-submit="save()" class="alert alert-warning" 
      novalidate auto-display-required-asterisk>
      <h3>{{viewModel.formTitle}}</h3>
      <div class="form-group">
        <label for="selectedLocation">Company / Location</label>
        <ui-select id="selectedLocation" name="selectedLocation" 
                  ng-model="viewModel.selectedLocation" ng-required="form.$submitted">
          <ui-select-match placeholder="Select a location">
            {{$select.selected.company_code}}
            {{$select.selected.code}}
          </ui-select-match>
          <ui-select-choices repeat="row in (viewModel.allLocations | filter: {code: $select.search})">
            <div class="bold" style="width:20%;" ng-bind-html="row.company_code | highlight: $select.search"></div>
            <div class="normal" style="width:20%;"ng-bind-html="row.code | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div class="error-messages" ng-messages="form.selectedLocation.$error" role="alert">
          <div ng-message="required">Please select a valid company / location.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="selectedEngineConfig">Engine Config</label>
        <ui-select id="engineConfig" name="selectedEngineConfig" 
                  ng-model="viewModel.selectedEngineConfig" ng-required="form.$submitted">
          <ui-select-match placeholder="Select an engine config">
            {{$select.selected.manufacturer_code}}&nbsp;
            {{$select.selected.engine_code}}&nbsp;
            {{$select.selected.drive_typecode}}&nbsp;
            {{$select.selected.code}}&nbsp;
          </ui-select-match>
          <ui-select-choices repeat="row in (viewModel.allEngineConfigs | filter: {code: $select.search})">
            <div class="bold" style="width:20%;" ng-bind-html="row.manufacturer_code | highlight: $select.search"></div>
            <div class="normal" style="width:20%;"ng-bind-html="row.engine_code | highlight: $select.search"></div>
            <div class="normal" style="width:20%;"ng-bind-html="row.drive_type_code | highlight: $select.search"></div>
            <div class="normal" style="width:40%;"ng-bind-html="row.code | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div class="error-messages" ng-messages="form.selectedEngineConfig.$error" role="alert">
          <div ng-message="required">Please select a valid engine config</div>
        </div>
      </div>
      <div class="form-group">
        <label for="code">Vehicle #</label>
        <input type="text" class="form-control" id="code" placeholder="Vehicle #" 
               name="code" ng-model="viewModel.code" ng-required="form.$submitted">
        <div class="error-messages" ng-messages="form.code.$error" role="alert">
          <div ng-message="required">Please enter a valid vehicle number.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" 
               name="description" ng-model="viewModel.description">
      </div>
      <div class="form-group">
        <label for="modelNumber">Model #</label>
        <input type="text" class="form-control" id="modelNumber" placeholder="Model Number" 
               name="modelNumber" ng-model="viewModel.modelNumber">
      </div>
      <div class="form-group">
        <label for="serialNumber">Serial #</label>
        <input type="text" class="form-control" id="serialNumber" placeholder="Serial Number" 
               name="serialNumber" ng-model="viewModel.serialNumber">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group top25">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="telematic" ng-model="viewModel.telematic"> Is Telematically-Enabled? 
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="estimatedAnnualVehicleHours">Estimated Annual Vehicle Hours</label>
            <input type="number" class="form-control" id="estimatedAnnualVehicleHours" placeholder="Vehicle Hours" 
                   name="estimatedAnnualVehicleHours" ng-max="999999999" ng-model="viewModel.estimatedAnnualVehicleHours">
            <div class="error-messages" ng-messages="form.estimatedAnnualVehicleHours.$error" role="alert">
              <div ng-message="max">Hours cannot exceed 999,999,999.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="folderCode">FTP folder name</label>
        <input type="text" class="form-control" id="folderCode" placeholder="FTP folder name" 
               name="folderCode" ng-model="viewModel.folderCode">
      </div>
      <hr/>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" ng-click="clear()">Close</button>
        <button type="button" class="btn btn-danger pull-right" ng-click="remove(data)" ng-if="viewModel.selectedData">
          Delete&nbsp;&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </div>
    </form>
  </div>
</div>

<table st-table="viewModel.displayedData" st-safe-src="viewModel.allData" class="table table-striped top25" ng-if="viewModel.allData.length">
  <thead>
    <tr>
      <th width="20%" st-sort="company_code">Company</th>
      <th width="20%" st-sort="location_code">Location</th>
      <th width="10%" st-sort="code">Vehicle #</th>
      <th width="10%" st-sort="serial_number">Serial #</th>
      <th width="10%" st-sort="model_number">Model #</th>
      <th width="10%" st-sort="engine_code">Engine</th>
      <th width="15%" st-sort="manufacturer_code">Manufacturer</th>
      <th width="5%">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="data in viewModel.displayedData | filter:viewModel.search" selection-model selection-model-on-change='onDataSelected(data)'>
      <td>
          {{data.company_code}}
      </td>
      <td>
          {{data.location_code}}
      </td>
      <td>
          {{data.code}}
      </td>
      <td>
          {{data.serial_number}}
      </td>
      <td>
          {{data.model_number}}
      </td>
      <td>
          {{data.engine_code}}
      </td>
      <td>
          {{data.manufacturer_code}}
      </td>
      <td>
        <span class="glyphicon glyphicon-edit" ></span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
				<td colspan="8" class="text-center">
          <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
				</td>
			</tr>
  </tfoot>
</table>
