  <form name="form" ng-submit="changePassword()" novalidate auto-display-required-asterisk>
    <div class="row top25">
      <div class="col-xs-6 col-xs-offset-3">
        <h3 class="modal-title">{{viewModel.title}}</h3>
        <br/>
        <em>After the password is changed you will be logged out and need to log in with the new password.</em>
      </div>
    </div>
    <div class="row top25">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword"
                           placeholder="New Password" name="newPassword"
                           ng-model="viewModel.newPassword" ng-required="form.$submitted">
                    <div class="error-messages" ng-messages="form.newPassword.$error" role="alert">
                        <div ng-message="required">Please enter a valid new password.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="newPasswordConfirmation">New Password Confirmation</label>
                    <input type="password" class="form-control" id="newPasswordConfirmation"
                           placeholder="New Password Confirmation" name="newPasswordConfirmation"
                           ng-model="viewModel.newPasswordConfirmation" ng-required="form.$submitted">
                    <div class="error-messages" ng-messages="form.newPasswordConfirmation.$error" role="alert">
                        <div ng-message="required">Please enter the new password again.</div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </div>
  </form>

